body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: #f2f2f2;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 14px;
  margin-bottom: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

button {
  padding: 10px;
  border: none;
  background: #ff6600;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #d45500;
}
