body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  padding: 20px;
}

.container {
  max-width: 500px;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.pedido-box {
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}

.title {
  margin-top: 20px;
  font-size: 20px;
}

#pedidoItens {
  list-style: none;
  padding: 0;
}

#pedidoItens li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.total {
  margin-top: 20px;
  font-size: 18px;
}

.time {
  margin-top: 10px;
  color: #444;
}
